<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="/home"></ion-back-button>
  </ion-buttons>
  <ion-title>Apresentação</ion-title>
</ion-toolbar>

<ion-content>

  <ion-segment>

    <ion-segment-button class="slides"  value="etapa1" content-id="primeiro">
      <ion-label>
        Slide 1
      </ion-label>
    </ion-segment-button>
    <ion-segment-button class="slides"  value="etapa2" content-id="segundo">
      <ion-label>
        Slide 2
      </ion-label>
    </ion-segment-button>
    <ion-segment-button class="slides" value="etapa3" content-id="terceiro">
      <ion-label>
        Slide 3
      </ion-label>
    </ion-segment-button>
  </ion-segment>



  <ion-segment-view>

  
  

    <!-- etapa 1 pag -->
    <ion-segment-content id="primeiro">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <img id="robo" alt="LITTLE ROBO"
                src="https://images.unsplash.com/photo-1620712943543-bcc4688e7485?ixlib=rb-4.0.3&w=1200" />
              <ion-card-header>
                <ion-card-title>
                  <h1>A Revolução Tecnológica que está Moldando Nosso Futuro</h1>
                </ion-card-title>
                <ion-card-subtitle>
                  <h5>Como a convergência de IA, Quantum Computing e Biotecnologia está redefinindo a existência humana
                  </h5>
                </ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                <p>
                  A humanidade está à beira da mais profunda transformação tecnológica desde a Revolução Industrial. A
                  inteligência artificial, que já supera a capacidade humana em tarefas específicas, está se fundindo
                  com a computação quântica - criando sistemas capazes de resolver em segundos problemas que os
                  supercomputadores atuais levariam milênios para processar. Enquanto isso, avanços na biotecnologia
                  prometem prolongar a vida humana para além dos 120 anos, com terapias genéticas personalizadas e
                  órgãos cultivados em laboratório.
                  <br>

                </p>

              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-segment-content>

    <!-- etapa 2 pag -->
    <ion-segment-content id="segundo">

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <img id="robo" alt="LITTLE ROBO"
                src="https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-4.0.3&w=1200" />
              <ion-card-header>
                <ion-card-title>
                  <h1>As Maravilhas Escondidas do Sistema Solar</h1>
                </ion-card-title>
                <ion-card-subtitle>
                  <h5>Explorando os segredos cósmicos que podem reescrever nossa compreensão do universo</h5>
                </ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                <p>
                  A sonda Juno da NASA revelou que Júpiter, o gigante gasoso, possui um núcleo difuso composto por
                  hidrogênio metálico - um material tão denso que desafia as leis da física conhecidas. Enquanto isso,
                  em Encélado, lua de Saturno, gêiseres gigantescos expelem água líquida contendo compostos orgânicos
                  complexos, sugerindo que oceanos subterrâneos podem abrigar formas de vida microbiana alienígena.A
                  humanidade está à beira da mais profunda transformação tecnológica desde a Revolução Industrial. A
                  inteligência artificial, que já supera a capacidade humana em tarefas específicas.
                  <br>

                </p>

              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-segment-content>

    <!-- etapa 3 pag -->
    <ion-segment-content id="terceiro">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <img id="robo" alt="LITTLE ROBO"
                src="https://images.unsplash.com/photo-1527631746610-bca00a040d60?ixlib=rb-4.0.3&w=1200" />
              <ion-card-header>
                <ion-card-title>
                  <h1>A Saga da Civilização Maia: Mistérios Revelados</h1>
                </ion-card-title>
                <ion-card-subtitle>
                  <h5>Novas descobertas arqueológicas que estão reescrevendo a história da América Pré-Colombiana</h5>
                </ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                <p>
                  Utilizando tecnologia LIDAR (Light Detection and Ranging), pesquisadores descobriram mais de 60.000
                  estruturas maias escondidas sob a densa floresta guatemalteca - incluindo pirâmides, palácios reais e
                  um sofisticado sistema de estradas elevadas que conectava cidades-estado em uma rede comercial
                  complexa. Estes achados comprovam que o império Maia atingiu seu apogeu entre 250-900 d.C. com uma
                  população que pode ter ultrapassado 20 milhões de pessoas.
                  <br>

                </p>

              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-segment-content>

  </ion-segment-view>



</ion-content>